<!-- src/app/pages/login/login.html -->
<div class="loading-overlay" *ngIf="isLoading">
    <div class="loading-content">
        <img src="assets/imagens/logoprogestao.png" alt="Logo ProGest" class="loading-logo">
        <div class="progress-bar-indeterminate">
            <div class="progress-track"></div>
        </div>
        <p class="loading-text">Carregando...</p>
    </div>
</div>

<div class="form" [class.blur]="isLoading">
    <div class="leftside">
        <img src="assets/imagens/reescreverSenha.png" alt="Tela de login">
        <!-- Se quiser o h1, descomente: -->
        <!-- <h1>Bem vindo De Volta</h1> -->
    </div>
    <div class="rightside">
        <div class="login-title">
            <img src="assets/imagens/logoprogestao.png" alt="Logo" class="login-logo">
            <h2>ProGest</h2>
        </div>
        <p>Agora digite sua nova senha</p>
        <form class="input-container" (ngSubmit)="onSubmit($event)">
            <div class="input">
                <i class="fa fa-lock"></i>
                <input type="password" [(ngModel)]="password1" name="email" placeholder="Digite a sua nova senha"
                    required />
            </div>

            <div class="input">
                <i class="fa fa-lock"></i>
                <input type="password" [(ngModel)]="password2" name="password" placeholder="Confirme a senha" required
                    minlength="6" />
            </div>
            <br>
            <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
            </div>
            <button type="submit" class="login" [disabled]="isLoading">
                {{ isLoading ? 'Entrando...' : 'Entrar' }}
            </button>

        </form>
        <div class="indicators">
            <ul>
                <li [class.active]="currentStep === 0"></li>
                <li [class.active]="currentStep === 1"></li>
                <li [class.active]="currentStep === 2"></li>
            </ul>
        </div>
    </div>
</div>