
// Aplicar a fonte Inter globalmente
body {
  font-family: 'Inter', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* REMOVA overflow: hidden */
}

app-root {
  display: block;
  min-height: 100vh; /* Mude de height: 100vh para min-height: 100vh */
  width: 100%;
}